/////// BUTTON ///////
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;

  // Vendor prefixes
  -webkit-transition: all 0.4s;
  -webkit-backface-visibility: hidden;
}

.btn {
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    background-color: #2e864b;
  }

  &--white {
    background-color: #fff;
    color: #777;

    &::after {
      background-color: #fff;
    }
  }

  &--green {
    background-color: #55c57a;
    color: #fff;

    &::after {
      background-color: #55c57a;
    }
  }

  &--small {
    padding: 1.25rem 3rem !important;
    font-size: 1.4rem !important;
  }
}

// Small button (legacy selector)
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;

  -webkit-transition: all 0.2s;
}

.btn-small {
  &:hover {
    background-color: #7dd56f;
  }
}

// Text button
.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.btn-text {
  &:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    outline: 3px solid #55c57a;
    outline-offset: 3px;
  }
}

/////// OVERVIEW BOX ///////
.overview-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &__group {
    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  &__detail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;

    svg {
      margin-right: 1.25rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #55c57a;
  }

  &__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__text {
    text-transform: capitalize;
  }

  &__img {
    border-radius: 50%;
    height: 3.5rem;
    margin-right: 1.25rem;
  }
}

///// FORM (login, signup) /////
.form-container {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }

  &:focus:invalid {
    border-bottom: 3px solid #ff7730;
  }

  &::-webkit-input-placeholder {
    color: #bbb;
  }
}

.form__group {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &:focus+label {
    outline: 3px solid #55c57a;
    outline-offset: 3px;
  }

  &+label {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #55c57a;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
    }
  }
}

.form__group--actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__error {
  color: #c00;
  margin-top: 1rem;
  text-align: center;
}