// BUTTON
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;

  // Vendor prefixes
  -webkit-transition: all 0.4s;
  -webkit-backface-visibility: hidden;
}

.btn {
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    background-color: #2e864b;
  }

  &--white {
    background-color: #fff;
    color: #777;

    &::after {
      background-color: #fff;
    }
  }

  &--green {
    background-color: #55c57a;
    color: #fff;

    &::after {
      background-color: #55c57a;
    }
  }

  &--small {
    padding: 1.25rem 3rem !important;
    font-size: 1.4rem !important;
  }
}

// Small button (legacy selector)
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;

  -webkit-transition: all 0.2s;
}

.btn-small {
  &:hover {
    background-color: #7dd56f;
  }
}

// Text button
.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.btn-text {
  &:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    outline: 3px solid #55c57a;
    outline-offset: 3px;
  }
}